@model homework5_CV.Models.DataModel

<tr>
    <td><p>@Model.Id</p></td>
    <td><p>@Model.Fname</p></td>
    <td><p>@Model.Lname</p></td>
    <td><p>@Model.Email</p></td>
    <td><p>@Model.BDay.ToShortDateString()</p></td>
    <td><p>@Model.Nationality</p></td>
    <td><p>@Model.Sex</p></td>
    <td>
        @foreach (var skill in Model.Skills)
        {
            @skill

            <span>, </span>
        }
    </td>
    <td>
        <a class="btn btn-primary" href="/EditCv?id=@Model.Id">Edit</a>
    </td>
    <td>
        <form method="post" asp-page-handler="Delete" asp-route-id="@Model.Id"
              onsubmit="return confirm('Are you sure you want to delete this CV?');">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </td>
</tr>
